<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>BLOG WEBSITE</h1>

        <section class="create-blog">
            <h2>Create a Blog</h2>
            <! -- this is a form to get the blog data ->
            <form action = "/submit" method="POST">
                <label for="Blog Title">Blog Title</label>
                <input type="text" name="blog_title" required>

                <label for="Blog">Blog</label>
                <input type="text" name="blog" required>

                <input type="submit" value="Submit">
            </form>
        </section>
        
        <section class="blogs-list">
            <ul>
                <! -- Loop through the blogs and print in order ->
                <% blogs.forEach(function(blog) { %>
                    <li class="blog-item">
                        <h3><%= blog.title %></h3>
                        <p>By: <%= blog.creator_name %> Date: <%= new Date(blog.date_created).toLocaleString() %></p>
                        <p><%= blog.body %></p> <br>

                        <! -- only display the buttons to author of post ->
                        <% if (blog.creator_user_id === currentUser.id) { %>
                            <! -- Buttons to Delete and Edit the blog ->
                            <div class="blog-buttons">
                                <form action="/delete" method="POST">
                                    <! -- return the blog_id so we know which blog to delete ->
                                    <input type="hidden" name="blog_id" value="<%= blog.blog_id %>">
                                    <button type="submit">Delete</button>
                                </form>
                                <! -- return the blog_id so we know which blog to edit ->
                                <a href="/edit/<%= blog.blog_id %>">
                                    <button type="button">Edit</button>
                                </a>
                            </div>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
        </section>
    </div>
</body>
</html>